<config>
   <datasets>
      <dataset id="bevano_test" title="bevano test" copyrightStatement="" dataReaderClass="" location="dods://150.178.42.70:8080/thredds/dodsC/bevano/run1/his" updateInterval="-1" moreInfo="" disabled="false" queryable="true">
         <variables>
            <variable id="vbar" title="vertically integrated v-momentum component" palette="rainbow" colorScaleRange="-0,491194,1,130935" scaling="linear"/>
            <variable id="svstr" title="surface v-momentum stress" palette="rainbow" colorScaleRange="0,113357,0,129659" scaling="linear"/>
            <variable id="bvstr" title="bottom v-momentum stress" palette="rainbow" colorScaleRange="-5,585169,0,943135" scaling="linear"/>
            <variable id="bedload_Vmud_01" title="bed load flux of mud in V-direction, size class 01" palette="rainbow" colorScaleRange="-0,162331,0,165727" scaling="linear"/>
            <variable id="bedload_Vmud_02" title="bed load flux of mud in V-direction, size class 02" palette="rainbow" colorScaleRange="-0,182985,0,524669" scaling="linear"/>
            <variable id="bedload_Vmud_03" title="bed load flux of mud in V-direction, size class 03" palette="rainbow" colorScaleRange="-0,259355,0,978969" scaling="linear"/>
            <variable id="bedload_Vmud_04" title="bed load flux of mud in V-direction, size class 04" palette="rainbow" colorScaleRange="-0,185746,0,582669" scaling="linear"/>
            <variable id="bedload_Vmud_05" title="bed load flux of mud in V-direction, size class 05" palette="rainbow" colorScaleRange="-0,078794,0,161749" scaling="linear"/>
            <variable id="bedload_Vmud_06" title="bed load flux of mud in V-direction, size class 06" palette="rainbow" colorScaleRange="-0,078794,0,161749" scaling="linear"/>
            <variable id="bedload_Vmud_07" title="bed load flux of mud in V-direction, size class 07" palette="rainbow" colorScaleRange="-0,078794,0,161749" scaling="linear"/>
            <variable id="vbar_stokes" title="vertically integrated v-stokes velocity" palette="rainbow" colorScaleRange="-0,048635,0,040088" scaling="linear"/>
            <variable id="f" title="Coriolis parameter at RHO-points" palette="rainbow" colorScaleRange="-50,000000,50,000000" scaling="linear"/>
            <variable id="pm" title="curvilinear coordinate metric in XI" palette="rainbow" colorScaleRange="-50,000000,50,000000" scaling="linear"/>
            <variable id="pn" title="curvilinear coordinate metric in ETA" palette="rainbow" colorScaleRange="-50,000000,50,000000" scaling="linear"/>
            <variable id="angle" title="angle between XI-axis and EAST" palette="rainbow" colorScaleRange="-50,000000,50,000000" scaling="linear"/>
            <variable id="mask_rho" title="mask on RHO-points" palette="rainbow" colorScaleRange="-50,000000,50,000000" scaling="linear"/>
            <variable id="temp" title="potential temperature" palette="rainbow" colorScaleRange="-11,876874,26,359985" scaling="linear"/>
            <variable id="salt" title="salinity" palette="rainbow" colorScaleRange="3,442211,47,370399" scaling="linear"/>
            <variable id="mud_01" title="suspended cohesive sediment, size class 01" palette="rainbow" colorScaleRange="-0,621589,0,058403" scaling="linear"/>
            <variable id="mud_02" title="suspended cohesive sediment, size class 02" palette="rainbow" colorScaleRange="-0,000216,0,004332" scaling="linear"/>
            <variable id="mud_03" title="suspended cohesive sediment, size class 03" palette="rainbow" colorScaleRange="-0,000172,0,003549" scaling="linear"/>
            <variable id="mud_04" title="suspended cohesive sediment, size class 04" palette="rainbow" colorScaleRange="-0,025567,0,001220" scaling="linear"/>
            <variable id="mud_05" title="suspended cohesive sediment, size class 05" palette="rainbow" colorScaleRange="-13,729814,3,514245" scaling="linear"/>
            <variable id="mud_06" title="suspended cohesive sediment, size class 06" palette="rainbow" colorScaleRange="-11,630348,3,283560" scaling="linear"/>
            <variable id="mud_07" title="suspended cohesive sediment, size class 07" palette="rainbow" colorScaleRange="-8,281766,2,881436" scaling="linear"/>
            <variable id="Sxx" title="radiation stress" palette="rainbow" colorScaleRange="-0,003491,0,073301" scaling="linear"/>
            <variable id="Sxy" title="radiation stress" palette="rainbow" colorScaleRange="-0,055729,0,005850" scaling="linear"/>
            <variable id="Syy" title="radiation stress" palette="rainbow" colorScaleRange="-0,008158,0,171315" scaling="linear"/>
            <variable id="Syx" title="radiation stress" palette="rainbow" colorScaleRange="-0,055729,0,005850" scaling="linear"/>
            <variable id="h" title="depth" palette="rainbow" colorScaleRange="-1,943628,8,198575" scaling="linear"/>
            <variable id="zeta" title="free-surface" palette="rainbow" colorScaleRange="-1,349119,1,931493" scaling="linear"/>
            <variable id="bustrc" title="current-induced, bottom u-momentum stress" palette="rainbow" colorScaleRange="-4,561757,0,941251" scaling="linear"/>
            <variable id="bvstrc" title="current-induced, bottom v-momentum stress" palette="rainbow" colorScaleRange="-5,095175,0,988763" scaling="linear"/>
            <variable id="bustrw" title="wind-induced, bottom u-momentum stress" palette="rainbow" colorScaleRange="-10,166866,0,534424" scaling="linear"/>
            <variable id="bvstrw" title="wind-induced, bottom v-momentum stress" palette="rainbow" colorScaleRange="-5,594214,5,846034" scaling="linear"/>
            <variable id="bustrcwmax" title="maximum wind and current, bottom u-wave stress" palette="rainbow" colorScaleRange="-3,817741,0,251252" scaling="linear"/>
            <variable id="bvstrcwmax" title="maximum wind and current, bottom v-wave stress" palette="rainbow" colorScaleRange="-1,446509,1,897588" scaling="linear"/>
            <variable id="Ubot" title="wind-induced, bed wave orbital u-velocity" palette="rainbow" colorScaleRange="-0,882132,0,096978" scaling="linear"/>
            <variable id="Vbot" title="wind-induced, bed wave orbital v-velocity" palette="rainbow" colorScaleRange="-0,531650,0,488323" scaling="linear"/>
            <variable id="Ur" title="bottom u-momentum above bed" palette="rainbow" colorScaleRange="-0,251120,0,409221" scaling="linear"/>
            <variable id="Vr" title="bottom v-momentum above bed" palette="rainbow" colorScaleRange="-0,228462,0,762228" scaling="linear"/>
            <variable id="grain_diameter" title="sediment median grain diameter size" palette="rainbow" colorScaleRange="-0,000059,0,002341" scaling="linear"/>
            <variable id="grain_density" title="sediment medina grain density" palette="rainbow" colorScaleRange="2650,000000,2651,000000" scaling="linear"/>
            <variable id="settling_vel" title="sediment median grain settling velocity" palette="rainbow" colorScaleRange="-0,000307,0,033089" scaling="linear"/>
            <variable id="erosion_stress" title="sediment median critical erosion stress" palette="rainbow" colorScaleRange="-0,153607,4,641045" scaling="linear"/>
            <variable id="ripple_length" title="bottom ripple length" palette="rainbow" colorScaleRange="-0,032792,0,729845" scaling="linear"/>
            <variable id="ripple_height" title="bottom ripple height" palette="rainbow" colorScaleRange="-0,005941,0,124766" scaling="linear"/>
            <variable id="bed_wave_amp" title="bed wave excursion amplitude" palette="rainbow" colorScaleRange="-0,049249,1,034403" scaling="linear"/>
            <variable id="Zo_def" title="default bottom roughness" palette="rainbow" colorScaleRange="0,003000,1,003000" scaling="linear"/>
            <variable id="Zo_app" title="apparent bottom roughness" palette="rainbow" colorScaleRange="-0,006583,0,139667" scaling="linear"/>
            <variable id="Sxx_bar" title="vertically integrated radiation stress" palette="rainbow" colorScaleRange="-0,033186,0,696909" scaling="linear"/>
            <variable id="Sxy_bar" title="vertically integrated radiation stress" palette="rainbow" colorScaleRange="-0,418927,0,049837" scaling="linear"/>
            <variable id="Syy_bar" title="vertically integrated radiation stress" palette="rainbow" colorScaleRange="-0,062471,1,311899" scaling="linear"/>
            <variable id="Syx_bar" title="vertically integrated radiation stress" palette="rainbow" colorScaleRange="-0,418927,0,049837" scaling="linear"/>
            <variable id="wet_dry_masking" title="wet_dry mask" palette="rainbow" colorScaleRange="-0,050000,1,050000" scaling="linear"/>
            <variable id="v" title="v-momentum component" palette="rainbow" colorScaleRange="-0,585728,1,299315" scaling="linear"/>
            <variable id="v_stokes" title="v-stokes velocity" palette="rainbow" colorScaleRange="-0,391856,0,071643" scaling="linear"/>
            <variable id="ubar" title="vertically integrated u-momentum component" palette="rainbow" colorScaleRange="-0,404761,0,651196" scaling="linear"/>
            <variable id="sustr" title="surface u-momentum stress" palette="rainbow" colorScaleRange="-0,090637,-0,065216" scaling="linear"/>
            <variable id="bustr" title="bottom u-momentum stress" palette="rainbow" colorScaleRange="-4,720855,0,893036" scaling="linear"/>
            <variable id="bedload_Umud_01" title="bed load flux of mud in U-direction, size class 01" palette="rainbow" colorScaleRange="-0,062396,0,117703" scaling="linear"/>
            <variable id="bedload_Umud_02" title="bed load flux of mud in U-direction, size class 02" palette="rainbow" colorScaleRange="-0,195694,0,494076" scaling="linear"/>
            <variable id="bedload_Umud_03" title="bed load flux of mud in U-direction, size class 03" palette="rainbow" colorScaleRange="-0,340340,1,356138" scaling="linear"/>
            <variable id="bedload_Umud_04" title="bed load flux of mud in U-direction, size class 04" palette="rainbow" colorScaleRange="-0,056148,0,511642" scaling="linear"/>
            <variable id="bedload_Umud_05" title="bed load flux of mud in U-direction, size class 05" palette="rainbow" colorScaleRange="-0,032547,0,117897" scaling="linear"/>
            <variable id="bedload_Umud_06" title="bed load flux of mud in U-direction, size class 06" palette="rainbow" colorScaleRange="-0,029915,0,101840" scaling="linear"/>
            <variable id="bedload_Umud_07" title="bed load flux of mud in U-direction, size class 07" palette="rainbow" colorScaleRange="-0,017939,0,075835" scaling="linear"/>
            <variable id="ubar_stokes" title="vertically integrated u-stokes velocity" palette="rainbow" colorScaleRange="-0,154474,0,007645" scaling="linear"/>
            <variable id="mudfrac_01" title="cohesive sediment fraction, size class 01" palette="rainbow" colorScaleRange="-0,050000,1,049990" scaling="linear"/>
            <variable id="mudfrac_02" title="cohesive sediment fraction, size class 02" palette="rainbow" colorScaleRange="-0,050000,1,049994" scaling="linear"/>
            <variable id="mudfrac_03" title="cohesive sediment fraction, size class 03" palette="rainbow" colorScaleRange="-0,049999,1,049975" scaling="linear"/>
            <variable id="mudfrac_04" title="cohesive sediment fraction, size class 04" palette="rainbow" colorScaleRange="-0,040211,0,844431" scaling="linear"/>
            <variable id="mudfrac_05" title="cohesive sediment fraction, size class 05" palette="rainbow" colorScaleRange="-0,039416,0,827736" scaling="linear"/>
            <variable id="mudfrac_06" title="cohesive sediment fraction, size class 06" palette="rainbow" colorScaleRange="-0,039103,0,821168" scaling="linear"/>
            <variable id="mudfrac_07" title="cohesive sediment fraction, size class 07" palette="rainbow" colorScaleRange="-0,038399,0,806372" scaling="linear"/>
            <variable id="mudmass_01" title="cohesive sediment mass, size class 01" palette="rainbow" colorScaleRange="-27,165976,570,485474" scaling="linear"/>
            <variable id="mudmass_02" title="cohesive sediment mass, size class 02" palette="rainbow" colorScaleRange="-125,291115,2631,113281" scaling="linear"/>
            <variable id="mudmass_03" title="cohesive sediment mass, size class 03" palette="rainbow" colorScaleRange="-151,512604,3181,764648" scaling="linear"/>
            <variable id="mudmass_04" title="cohesive sediment mass, size class 04" palette="rainbow" colorScaleRange="-36,928211,775,492432" scaling="linear"/>
            <variable id="mudmass_05" title="cohesive sediment mass, size class 05" palette="rainbow" colorScaleRange="-15,861661,333,094879" scaling="linear"/>
            <variable id="mudmass_06" title="cohesive sediment mass, size class 06" palette="rainbow" colorScaleRange="-23,014076,483,295593" scaling="linear"/>
            <variable id="mudmass_07" title="cohesive sediment mass, size class 07" palette="rainbow" colorScaleRange="-36,581932,768,220520" scaling="linear"/>
            <variable id="bed_thickness" title="sediment layer thickness" palette="rainbow" colorScaleRange="-0,031524,0,662010" scaling="linear"/>
            <variable id="bed_age" title="sediment layer age" palette="rainbow" colorScaleRange="-58160340,000000,1221367168,000000" scaling="linear"/>
            <variable id="bed_porosity" title="sediment layer porosity" palette="rainbow" colorScaleRange="0,000000,1,000000" scaling="linear"/>
            <variable id="mask_psi" title="mask on psi-points" palette="rainbow" colorScaleRange="-50,000000,50,000000" scaling="linear"/>
            <variable id="mask_v" title="mask on V-points" palette="rainbow" colorScaleRange="-50,000000,50,000000" scaling="linear"/>
            <variable id="mask_u" title="mask on U-points" palette="rainbow" colorScaleRange="-50,000000,50,000000" scaling="linear"/>
            <variable id="w" title="vertical momentum component" palette="rainbow" colorScaleRange="-0,001013,0,000679" scaling="linear"/>
            <variable id="omega" title="S-coordinate vertical momentum component" palette="rainbow" colorScaleRange="0,000000,1,000000" scaling="linear"/>
            <variable id="u" title="u-momentum component" palette="rainbow" colorScaleRange="-0,435517,0,751026" scaling="linear"/>
            <variable id="u_stokes" title="u-stokes velocity" palette="rainbow" colorScaleRange="-0,175183,0,009722" scaling="linear"/>
         </variables>
      </dataset>
   </datasets>
   <threddsCatalog> </threddsCatalog>
   <contact>
      <name> </name>
      <organization> </organization>
      <telephone> </telephone>
      <email> </email>
   </contact>
   <server>
      <title>My ncWMS server</title>
      <allowFeatureInfo>true</allowFeatureInfo>
      <maxImageWidth>1024</maxImageWidth>
      <maxImageHeight>1024</maxImageHeight>
      <abstract> </abstract>
      <keywords> </keywords>
      <url> </url>
      <adminpassword>ncWMS</adminpassword>
      <allowglobalcapabilities>true</allowglobalcapabilities>
   </server>
   <cache enabled="false">
      <elementLifetimeMinutes>1440</elementLifetimeMinutes>
      <maxNumItemsInMemory>200</maxNumItemsInMemory>
      <enableDiskStore>true</enableDiskStore>
      <maxNumItemsOnDisk>2000</maxNumItemsOnDisk>
   </cache>
</config>